apiVersion: v1
kind: Service
metadata:
  name: {{ include "bitwarden-sdk-server.fullname" . }}
  namespace: {{ template "bitwarden-sdk-server.namespace" . }}
  labels:
    {{- include "bitwarden-sdk-server.labels" . | nindent 4 }}
    {{- with .Values.service.labels }}
    {{- toYaml .  | nindent 4 }}
    {{- end }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      name: http
  selector:
    {{- include "bitwarden-sdk-server.selectorLabels" . | nindent 4 }}
